# Operating system
.DS_Store

# Dependencies
node_modules/

# Build artifacts
.turbo/
dist/
dump/

# Test artifacts
coverage/

# Local environment
*.local
.env
.env.*
!.env.example

#
.agents/references
